In [1]:
import pandas as pd
import numpy as np

In [4]:
d1 = pd.Series([1,2,3,4,5,6])
d1.head()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
d1.tail()

1    2
2    3
3    4
4    5
5    6
dtype: int64

In [7]:
d1.shape

(6,)

In [13]:
d1 = d1 + 1

In [21]:
d1.corr

<bound method Series.corr of 0    2
1    3
2    4
3    5
4    6
5    7
dtype: int64>

In [16]:
d1.dtype

dtype('int64')

In [22]:
d1.sum

<bound method Series.sum of 0    2
1    3
2    4
3    5
4    6
5    7
dtype: int64>

In [ ]:
np.linspace(1,10)

array([ 1.        ,  1.18367347,  1.36734694,  1.55102041,  1.73469388,
        1.91836735,  2.10204082,  2.28571429,  2.46938776,  2.65306122,
        2.83673469,  3.02040816,  3.20408163,  3.3877551 ,  3.57142857,
        3.75510204,  3.93877551,  4.12244898,  4.30612245,  4.48979592,
        4.67346939,  4.85714286,  5.04081633,  5.2244898 ,  5.40816327,
        5.59183673,  5.7755102 ,  5.95918367,  6.14285714,  6.32653061,
        6.51020408,  6.69387755,  6.87755102,  7.06122449,  7.24489796,
        7.42857143,  7.6122449 ,  7.79591837,  7.97959184,  8.16326531,
        8.34693878,  8.53061224,  8.71428571,  8.89795918,  9.08163265,
        9.26530612,  9.44897959,  9.63265306,  9.81632653, 10.        ])

In [27]:
arr = np.logspace(1,10)
len(arr)

50

In [30]:
arr1 = np.copy(arr)

In [31]:
arr1

array([1.00000000e+01, 1.52641797e+01, 2.32995181e+01, 3.55648031e+01,
       5.42867544e+01, 8.28642773e+01, 1.26485522e+02, 1.93069773e+02,
       2.94705170e+02, 4.49843267e+02, 6.86648845e+02, 1.04811313e+03,
       1.59985872e+03, 2.44205309e+03, 3.72759372e+03, 5.68986603e+03,
       8.68511374e+03, 1.32571137e+04, 2.02358965e+04, 3.08884360e+04,
       4.71486636e+04, 7.19685673e+04, 1.09854114e+05, 1.67683294e+05,
       2.55954792e+05, 3.90693994e+05, 5.96362332e+05, 9.10298178e+05,
       1.38949549e+06, 2.12095089e+06, 3.23745754e+06, 4.94171336e+06,
       7.54312006e+06, 1.15139540e+07, 1.75751062e+07, 2.68269580e+07,
       4.09491506e+07, 6.25055193e+07, 9.54095476e+07, 1.45634848e+08,
       2.22299648e+08, 3.39322177e+08, 5.17947468e+08, 7.90604321e+08,
       1.20679264e+09, 1.84206997e+09, 2.81176870e+09, 4.29193426e+09,
       6.55128557e+09, 1.00000000e+10])

In [32]:
len(arr1)

50

In [34]:
print(id(arr1[0]))
print(id(arr[0]))

2439684460048
2439684465840

In [36]:
a = np.random.seed(3)

In [37]:
print(a)

None

In [39]:
print(arr1.dot(arr))

1.751906942863209e+20

In [44]:
arr1 = np.array([1,2,3,4,5])
arr2 = np.array([6,7,8,9,0])
print(arr1.dot(arr2))

80

In [46]:
from matplotlib.image import imread
image = imread(r"C:\Users\Prasanna dindi\OneDrive\Pictures\HDR\mnist_input_19.png")
image.shape

(1300, 1300)

In [ ]:
pd.Series(data = ['prasanna','chetan','deekshit','punit'],index = [1,2,3,4])

1    prasanna
2      chetan
3    deekshit
4       punit
dtype: object

:

In [5]:
import pandas as pd
df = pd.Series(3).repeat(3).reset_index()

In [6]:
df

   index  0
0      0  3
1      0  3
2      0  3

In [7]:
df.drop(['index'],axis = 1,inplace=True)

In [8]:
df

   0
0  3
1  3
2  3

In [9]:
df[0].rename('value')

0    3
1    3
2    3
Name: value, dtype: int64

In [10]:
df

   0
0  3
1  3
2  3

In [11]:
pd.DataFrame(df)

   0
0  3
1  3
2  3

In [12]:
df

   0
0  3
1  3
2  3

In [16]:
df[0].rename('value')

0    3
1    3
2    3
Name: value, dtype: int64

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [17]:
df.sum()

0    9
dtype: int64

In [18]:
df.mean()

0    3.0
dtype: float64

In [19]:
df.describe()

         0
count  3.0
mean   3.0
std    0.0
min    3.0
25%    3.0
50%    3.0
75%    3.0
max    3.0

In [21]:
def add_(i,j):
    return i+j
df.pipe(add_,3)

   0
0  6
1  6
2  6

In [ ]:
import pandas_profiling as pp
report = pp.ProfileReport(df)

SyntaxError: invalid syntax (1660283090.py, line 1)