In [2]:
import pandas as pd
data = pd.read_csv('results.csv')
data.head()

,_id,isPb,wpm,acc,rawWpm,consistency,charStats,mode,mode2,quoteLength,...,punctuation,numbers,language,funbox,difficulty,lazyMode,blindMode,bailedOut,tags,timestamp
0,67f005271b4e1d1a3852de28,NaN,76.52,92.20,76.52,69.12,130;0;0;0,words,25,-1,...,False,False,english,none,normal,False,False,False,NaN,1743783207000
1,67f0046c1b4e1d1a3852d0c8,NaN,83.43,99.17,83.43,69.11,120;0;0;0,words,25,-1,...,False,False,english,none,normal,False,False,False,NaN,1743783020000
2,67f0044f1b4e1d1a3852ceb8,NaN,60.91,85.43,60.91,51.15,128;0;0;0,words,25,-1,...,False,False,english,none,normal,False,False,False,NaN,1743782991000
3,67ee7f0a1b4e1d1a383fb9aa,NaN,58.90,85.06,58.90,57.14,128;0;0;0,words,25,-1,...,False,False,english,none,normal,False,False,False,NaN,1743683338000
4,67ee7eea1b4e1d1a383fb7ff,NaN,73.17,92.25,73.17,63.21,128;0;0;0,words,25,-1,...,False,False,english,none,normal,False,False,False,NaN,1743683306000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _id                    1000 non-null   object
 1   isPb                   6 non-null      object
 2   wpm                    1000 non-null   float64
 3   acc                    1000 non-null   float64
 4   rawWpm                 1000 non-null   float64
 5   consistency            1000 non-null   float64
 6   charStats              1000 non-null   object
 7   mode                   1000 non-null   object
 8   mode2                  1000 non-null   int64
 9   quoteLength            1000 non-null   int64
 10  restartCount           1000 non-null   int64
 11  testDuration           1000 non-null   float64
 12  afkDuration            1000 non-null   int64
 13  incompleteTestSeconds  1000 non-null   float64
 14  punctuation            1000 non-null   bool
 15  numbers                1000 non-null   bool
 16  language               1000 non-null   object
 17  funbox                 1000 non-null   object
 18  difficulty             1000 non-null   object
 19  lazyMode               1000 non-null   bool
 20  blindMode              1000 non-null   bool
 21  bailedOut              1000 non-null   bool
 22  tags                   0 non-null      float64
 23  timestamp              1000 non-null   int64
dtypes: bool(5), float64(7), int64(5), object(7)
memory usage: 153.4+ KB

In [4]:
data.columns

Index(['_id', 'isPb', 'wpm', 'acc', 'rawWpm', 'consistency', 'charStats',
       'mode', 'mode2', 'quoteLength', 'restartCount', 'testDuration',
       'afkDuration', 'incompleteTestSeconds', 'punctuation', 'numbers',
       'language', 'funbox', 'difficulty', 'lazyMode', 'blindMode',
       'bailedOut', 'tags', 'timestamp'],
      dtype='object')

In [5]:
data.describe()

,wpm,acc,rawWpm,consistency,mode2,quoteLength,restartCount,testDuration,afkDuration,incompleteTestSeconds,tags,timestamp
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.0,1000.000000,1000.000000,1000.000000,1000.000000,0.0,1.000000e+03
mean,57.192720,91.125360,57.380400,62.098320,25.35000,-1.0,3.925000,27.952640,0.027000,23.442460,NaN,1.731454e+12
std,7.122619,3.356356,7.212801,5.599565,4.46065,0.0,5.767377,7.047039,0.179731,32.911272,NaN,5.362680e+09
min,23.490000,78.240000,23.490000,38.670000,25.00000,-1.0,0.000000,17.260000,0.000000,0.000000,NaN,1.724046e+12
25%,52.425000,88.810000,52.587500,58.727500,25.00000,-1.0,0.000000,24.785000,0.000000,0.000000,NaN,1.727533e+12
50%,56.640000,91.290000,56.850000,62.005000,25.00000,-1.0,2.000000,27.380000,0.000000,10.830000,NaN,1.729915e+12
75%,61.580000,93.515000,61.792500,65.632500,25.00000,-1.0,5.000000,29.810000,0.000000,33.042500,NaN,1.734528e+12
max,85.080000,99.250000,85.080000,78.140000,100.00000,-1.0,42.000000,134.000000,3.000000,301.110000,NaN,1.743783e+12

In [6]:
data.isnull().sum()

_id                         0
isPb                      994
wpm                         0
acc                         0
rawWpm                      0
consistency                 0
charStats                   0
mode                        0
mode2                       0
quoteLength                 0
restartCount                0
testDuration                0
afkDuration                 0
incompleteTestSeconds       0
punctuation                 0
numbers                     0
language                    0
funbox                      0
difficulty                  0
lazyMode                    0
blindMode                   0
bailedOut                   0
tags                     1000
timestamp                   0
dtype: int64

In [7]:
data = data.drop(columns=['tags','isPb'])

In [8]:
data.head()

,_id,wpm,acc,rawWpm,consistency,charStats,mode,mode2,quoteLength,restartCount,...,incompleteTestSeconds,punctuation,numbers,language,funbox,difficulty,lazyMode,blindMode,bailedOut,timestamp
0,67f005271b4e1d1a3852de28,76.52,92.20,76.52,69.12,130;0;0;0,words,25,-1,23,...,74.42,False,False,english,none,normal,False,False,False,1743783207000
1,67f0046c1b4e1d1a3852d0c8,83.43,99.17,83.43,69.11,120;0;0;0,words,25,-1,3,...,4.10,False,False,english,none,normal,False,False,False,1743783020000
2,67f0044f1b4e1d1a3852ceb8,60.91,85.43,60.91,51.15,128;0;0;0,words,25,-1,2,...,7.55,False,False,english,none,normal,False,False,False,1743782991000
3,67ee7f0a1b4e1d1a383fb9aa,58.90,85.06,58.90,57.14,128;0;0;0,words,25,-1,1,...,2.72,False,False,english,none,normal,False,False,False,1743683338000
4,67ee7eea1b4e1d1a383fb7ff,73.17,92.25,73.17,63.21,128;0;0;0,words,25,-1,3,...,17.47,False,False,english,none,normal,False,False,False,1743683306000

In [9]:
data.columns

Index(['_id', 'wpm', 'acc', 'rawWpm', 'consistency', 'charStats', 'mode',
       'mode2', 'quoteLength', 'restartCount', 'testDuration', 'afkDuration',
       'incompleteTestSeconds', 'punctuation', 'numbers', 'language', 'funbox',
       'difficulty', 'lazyMode', 'blindMode', 'bailedOut', 'timestamp'],
      dtype='object')

In [10]:
data.duplicated().sum()

np.int64(0)

In [11]:
data = data.drop(columns=['_id','rawWpm','charStats','mode','mode2','quoteLength','afkDuration','incompleteTestSeconds','punctuation', 'numbers', 'language', 'funbox','lazyMode', 'blindMode', 'bailedOut', 'timestamp'])

In [12]:
data.head()

     wpm    acc  consistency  restartCount  testDuration difficulty
0  76.52  92.20        69.12            23         20.39     normal
1  83.43  99.17        69.11             3         17.26     normal
2  60.91  85.43        51.15             2         25.22     normal
3  58.90  85.06        57.14             1         26.08     normal
4  73.17  92.25        63.21             3         20.99     normal

In [13]:
X = data.iloc[:,:1]
y = data.iloc[:,1:]

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score,root_mean_squared_error

In [16]:
y = y.drop(columns=['difficulty'])

In [17]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [18]:
lin_reg = LinearRegression()
model = lin_reg.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [19]:
mse = mean_squared_error(y_pred=y_pred,y_true=y_test)

In [20]:
print(mse)

32.19730507364641

In [21]:
r2 = r2_score(y_pred=y_pred,y_true=y_test)

In [22]:
print(r2*100)

25.379471566792244

In [23]:
y.head()

     acc  consistency  restartCount  testDuration
0  92.20        69.12            23         20.39
1  99.17        69.11             3         17.26
2  85.43        51.15             2         25.22
3  85.06        57.14             1         26.08
4  92.25        63.21             3         20.99

In [24]:
y = y.drop(columns=['restartCount'])

In [25]:
y.head()

     acc  consistency  testDuration
0  92.20        69.12         20.39
1  99.17        69.11         17.26
2  85.43        51.15         25.22
3  85.06        57.14         26.08
4  92.25        63.21         20.99

In [26]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [27]:
lin_reg = LinearRegression()
model = lin_reg.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [28]:
mse = mean_squared_error(y_pred=y_pred,y_true=y_test)

In [29]:
print(mse)

26.560686718728135

In [30]:
r2 = r2_score(y_pred=y_pred,y_true=y_test)

In [31]:
print(r2)

0.30809892547441314